
<script type="text/javascript">

    if (typeof app === 'undefined') {

        document.location.href = "../../Index.html";
    }
</script>

<div class="container pad_btm50">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 mobile_pdlt0  acc_serv">
        <h2 class="mar_btm20 mar_topbig0 mar_btm10small">MAF Disclaimer</h2>
        <h5 class="text-uppercase"><strong>No warranties</strong></h5>
        <p class="mar_btm20">
            This website is provided "as is" without any representations or warranties, express or implied. MID-ATLANTIC FINANCE makes no
            representations or warranties in relation to this website. Materials are provided for informational purposes only.
        </p>
        <p>Without prejudice to the generality of the foregoing paragraph, MID-ATLANTIC FINANCE does not warrant that: </p>
        <ul class="mobile_pdlt0 ">
            <li><i class="fa fa-caret-right" aria-hidden="true"></i>This website will be constantly available.</li>
            <li><i class="fa fa-caret-right" aria-hidden="true"></i>The information on this website is complete, true, accurate or non-misleading.</li>
        </ul>

        <h5 class="text-uppercase mar_top20"><strong>Limitations of liability</strong></h5>
        <p>MID-ATLANTIC FINANCE will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website: </p>
        <ul class="mobile_pdlt0 ">
            <li><i class="fa fa-caret-right" aria-hidden="true"></i>To the extent that the website is provided free-of-charge, for any direct loss.</li>
            <li><i class="fa fa-caret-right" aria-hidden="true"></i>For any indirect, special or consequential loss</li>
            <li>
                <i class="fa fa-caret-right" aria-hidden="true"></i>For any business losses, loss of revenue, income, profits or anticipated savings,
                of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.
            </li>
        </ul>

        <h5 class="text-uppercase mar_top20"><strong>Reasonableness</strong></h5>
        <p>By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.</p>
        <p>If you do not think they are reasonable, you must not use this website.</p>

        <h5 class="text-uppercase mar_top20"><strong>Unenforceable provisions</strong></h5>
        <p>If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer. </p>

    </div>
</div>
