<script type="text/javascript">

    if (typeof app === 'undefined') {

        document.location.href = "../../Index.html";
    }
</script>

<div ng-controller="ChangePasswordController">

    <section class="bg_white_contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 acc_serv">
                    <div class="login_bg">
                        <form class="" name="form">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  mobile_pdlt0 mobile_pdrt0">
                                <h3 class="font_we300 font_color2 mar_btm20">PASSWORD CHANGE REQUEST</h3>
                                <h5 class="text-capitalize mar_btm20 line_ht25">
                                    Use this page to change your password and after submitting your entry, you can also update your password with your recovery
                                    question.
                                </h5>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  mobile_pdlt0 mobile_pdrt0 mar_btm30">
                                <label class="mar_rt10">Important :</label>
                                <p class="inln_display">
                                    For your protection Mid-Atlantic Finance Company recommonds that you change your password often and that you store it in a
                                    secure place.
                                </p>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mobile_pdlt0 mobile_pdrt0 mar_btm20">
                                <h5 class="text"><strong>The password must meet the following requirements:</strong></h5>
                                <p>Passwords must have at least 8 characters and contain each of the following : upper case letter, lower case letter and number.</p>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mobile_pdlt0 mobile_pdrt0 mar_btm20">
                                <label style="color:red">{{Error}}</label>
                                <label style="color:green">{{updateMessage}}</label>

                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 text-uppercase mobile_pdlt0 mobile_pdrt0">
                                <label>Current Password<span class="font_red font12 line_ht0">*</span></label>
                                <input ng-model="Currentpassword" ng-disabled="currentPasswordDisabled" type="password" class="form-control" id="" name="Currentpassword" required>
                                <span style="color:red" ng-show="form.Currentpassword.$dirty && form.Currentpassword.$error.required">Please Enter Current Password</span>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 mobile_pdlt0 mobile_pdrt0 text-uppercase">
                                <label>New Password<span class="font_red font12 line_ht0">*</span></label>
                                <input ng-disabled="newPasswordDisabled" ng-model="NewPassword" type="password" class="form-control" id="" name="password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d$@$!%*#?&]{8,}$/" required>

                                <span style="color:red" ng-show="form.password.$dirty && form.password.$error.required">Please Enter New Password</span>
                                <span style="color:Red" ng-show="form.password.$error.pattern">Must be more than 8 characters and at least 1 numeric value</span>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 mobile_pdlt0 mobile_pdrt0 text-uppercase">
                                <label>Confirm New Password<span class="font_red font12 line_ht0">*</span></label>
                                <input ng-model="ConfirmNewPassword" ng-disabled="confirmNewPasswordDisabled" type="password" class="form-control" id="" name="ConfirmNewPassword" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d$@$!%*#?&]{8,}$/" required>

                                <span style="color:red" ng-show="form.ConfirmNewPassword.$dirty && form.ConfirmNewPassword.$error.required">Please Enter Confirm New Password</span>
                                <span style="color:red" ng-show="NewPassword !== ConfirmNewPassword">Password didn't match</span>
                                <span style="color:Red" ng-show="form.ConfirmNewPassword.$error.pattern">Must be more than 8 characters and at least 1 numeric value</span>
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group text-center">
                                <button class="btn btn-default" ng-show="editButtionVisible" ng-click="buttonOk()" type="button">OK</button>
                                <button class="btn btn-default" ng-show="resetButtionVisible" ng-click="Reset()" type="button">Reset</button>
                                <button class="btn btn-default" ng-show="saveButtionVisible" ng-disabled="form.$invalid" ng-click="changePasswordVerify()" type="button">
                                    <span class="glyphicon {{Loadname}} glyphicon-refresh-animate"></span>
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
