<script type="text/javascript">

    if (typeof app === 'undefined') {

        document.location.href = "../../Index.html";
    }
</script>

<div ng-controller="AccountInformationController">
    <style>
        input.ng-invalid.ng-dirty {
            border: 1px solid red;
        }
    </style>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Your Rounting Number</h4>
                </div>
                <div class="modal-body">
                    <img src="images/check.gif" width="100%" />
                </div>
                <div class="modal-footer">
                    <button ng-click="mainholderAdd()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <section class="content">
        <div class="col-xs-12 mobile_pdlt0 mobile_pdrt0">
            <div class="container_acinfo">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left_col">
                        <div class="login_bg">
                            <h2 class="text-center mar_btm10 mar_top0 pad_top0 pay_login col-lg-6 col-md-8 col-sm-10 col-md-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-1 col-xs-0">Account Information</h2>
                            <div class="clearfix"></div>
                            <label style="color:red">{{MainError}}</label>
                            <label style="color:red">{{MessageError}}</label>
                            <h5>You can make an online payment using your checking/savings account.</h5>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0 accunt_ifotxt">
                                <label class="col-lg-4 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Account Number</label>
                                <label class="col-lg-8 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{accountNumberGet}}</label>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0 accunt_ifotxt">
                                <label class="col-lg-4 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Account Holder</label>
                                <label class="col-lg-8 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{AccountHolder}}</label>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0 accunt_ifotxt">
                                <label class="col-lg-4 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Current Balance</label>
                                <label class="col-lg-8 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{CurrentBalance}} (<span class="font_red">*</span>)</label>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0 accunt_ifotxt">
                                <label class="col-lg-4 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Amount Past Due</label>
                                <label class="col-lg-8 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{AmountPastDue}}</label>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0 accunt_ifotxt">
                                <label class="col-lg-4 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Regular Amount Due</label>
                                <label class="col-lg-8 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{RegularAmountDue}}</label>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0 accunt_ifotxt">
                                <label class="col-lg-4 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Last Payment Mode</label>
                                <label class="col-lg-8 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">  {{lastPaymentMade}} </label>
                            </div>
                            <div ng-show="loading" class="loadingOverlay"></div>
                            <p class="font12 mar_btm0">(<span class="font_red">*</span>) Understand this is not a payoff balance. The debit for last monthly payment may be more or less than the scheduled payment, please contact MAF at 800.793.9661 ext. 600 to determine final payment amount and make final payment arrangements.</p>
                            <div class="col-sm-5 col-xs-12 mobile_pdlt0 mobile_pdrt0 mar_top10">
                                <!--<div vc-recaptcha theme="light" key="publicKey" on-create="setRecaptchaId(widgetId)"></div>-->

                                <div vc-recaptcha
                                     theme="'light'"
                                     key="publicKey"
                                     on-create="setWidgetId(widgetId)"
                                     on-success="setResponse(response)"
                                     on-expire="cbExpiration()"></div>
                            </div>
                            <div class="col-sm-6 mar_top20">

                                <a ><button ng-click="RecaptchasignupCardInfo()" type="button" class="btn btn-default">Continue</button></a>
                            </div>
                        </div>
                    </div>
            

                </div>
            </div>
        </div>



    </section>



</div>

