
<div ng-show="FirstACHDiv">
    <div class="login_bg">
        <h2 class="font_color2 mar_top0 text-center pad_top10 text-uppercase pad_topbig0"><span class="padrtlt_10 bdr_btmgrn"> Pay By Text Enrollment Confirmation</span></h2>

        <div class="clearfix"></div>
        <h5 class="mar_btm20"><strong class="font_color1">Your Pay By Text enrollment has not been completed yet.</strong> Please verify the information below.</h5>
        <div class="mar_btm20 col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Text Number<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{TextNumber | tel}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0"> Payment Amount<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">${{amount}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Fee Amount<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">${{fee}}</label>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Total Amount<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">${{totalAmount}} (Amount to be withdrawn from banking account)</label>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">MAF Account Number<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{AccountNumber}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Full Name<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{Name}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Bank Account Name<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{BankAccountName}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Bank Name<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{BankName}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Routing Number<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{BankRoutingNumber}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Bank Account Number<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{BankAccountNumber}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Account Type<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{AccountType}} </label>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>

    <label class="mar_top15">Click Submit if this information is correct if not, click the back button to update.</label>
    <div class="clearfix"></div>
    <div class="form-group text-right mar_top20">
        <button class="btn btn-default pull-left btn_miniwidth100" type="button" ng-click="BackToStep2()">Back</button>
        <!--<span style="color:red">{{Error}}</span>-->
        <button type="button" ng-click="GoToPayByTextHome()" class="btn btn-default btn_miniwidth100">Cancel</button>
        <button type="button" ng-click="ACHMethodConfirm()" class="btn btn-default btn_miniwidth100 btn_green" data-dismiss="modal">
            Submit
        </button>
    </div>
</div>

<div ng-show="secondACHDiv">
    <div class="login_bg">
        <h2 class="font_color2 mar_top0 text-center pad_top10 text-uppercase pad_topbig0"><span class="padrtlt_10 bdr_btmgrn"> Pay By Text Confirmation</span></h2>
        <div class="clearfix"></div>
        <h5 class="mar_btm20"><strong class="font_color1">Your Pay By Text enrollment has been completed.</strong> Make sure you keep this confirmation number for your records.</h5>
        <div class="mar_btm20 col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Text Number<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{TextNumber | tel}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0"> Payment Amount<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">${{amount}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Fee Amount<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">${{fee}}</label>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Total Amount<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">${{totalAmount}} (Amount to be withdrawn from banking account)</label>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">MAF Account Number<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{AccountNumber}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Full Name<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{Name}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Bank Account Name<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{BankAccountName}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Bank Name<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{BankName}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Routing Number<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{BankRoutingNumber}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Bank Account Number<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{BankAccountNumber}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Account Type<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{AccountType}} </label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0 mar_top20">
                <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Confirmation Number<span class="pull-right">:</span></label>
                <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0 font_color1">{{confirmation }}</label>
            </div>
        </div>
        <div class="clearfix"></div>
        <p>Please note, the confirmation number is used for online verification purposes only. This transaction is subject to accuracy of information and availability of funds regarding your banking account. Payment updates can take up to 24-48 hours before applying to your account.</p>

    </div>
    <div class="clearfix"></div>
    <div class="form-group text-center mar_top20">

        <button onclick="BtnACHPrint()" type="button" class="btn btn-default btn_miniwidth100 pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-print mar_rt5"></span>Print
        </button>

        <button type="button" class="btn btn-default pull-right btn_green" ng-click="GoToPayByTextHome()">
            Finish
        </button>
    </div>
</div>



<!--<div ng-show="ThirdDiv" id="outprint">-->
<div id="ACHprint">
    <section class="content">
        <div class="col-xs-12 mobile_pdlt0 mobile_pdrt0">
            <div class="print_logo"><img alt="" src="images/logo.png"></div>
            <h2 class="text-center mar_btm20 mar_top0 pad_top0 pay_login col-lg-4 col-md-8 col-sm-10 col-md-12 col-lg-offset-4 col-md-offset-2 col-sm-offset-1 col-xs-0">Pay By Text Enrollment Confirmation</h2>
            <div class="clearfix"></div>
            <h5 class="mar_btm20"><strong class="font_color1">Your Pay By Text enrollment has been completed.</strong> Make sure you keep this confirmation number for your records.</h5>
            <div class="mar_btm20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                    <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Text Number<span class="pull-right">:</span></label>
                    <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{TextNumber | tel}}</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                    <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Payment Amount<span class="pull-right">:</span></label>
                    <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">${{amount}}</label>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                    <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Fee Amount<span class="pull-right">:</span></label>
                    <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">${{fee}}</label>
                </div>



                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                    <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Total Amount<span class="pull-right">:</span></label>
                    <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">${{totalAmount}} (Amount to be withdrawn from banking account)</label>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                    <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">MAF Account Number<span class="pull-right">:</span></label>
                    <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{AccountNumber}}</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                    <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Full Name<span class="pull-right">:</span></label>
                    <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{Name}}</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                    <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Bank Account Name<span class="pull-right">:</span></label>
                    <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{BankAccountName}}</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                    <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Bank Name<span class="pull-right">:</span></label>
                    <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{BankName}}</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                    <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Routing Number<span class="pull-right">:</span></label>
                    <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{BankRoutingNumber}}</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                    <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Bank Account Number<span class="pull-right">:</span></label>
                    <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{BankAccountNumber}}</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                    <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Account Type<span class="pull-right">:</span></label>
                    <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{AccountType}}</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt0">
                    <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 mobile_pdlt0 mobile_pdrt0">Confirmation Number<span class="pull-right">:</span></label>
                    <label class="col-lg-9 col-md-8 col-sm-7 col-xs-6 mobile_pdrt0">{{confirmation }}</label>
                </div>

            </div>
            <div class="clearfix"></div>
            <p>Please Note, the confirmation number is used for online verification purposes only. This transaction is subject to accuracy of information and availability of funds regarding your banking account. Payment updates can take up to 24-48 hours before applying to your account.</p>

        </div>
    </section>
</div>

<script>
    $("#ACHprint").hide();
    function BtnACHPrint() {
        $("#ACHprint").show();
        $("#ACHprint").print();
        $("#ACHprint").hide();
    }
</script>