
    <nav class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item active" href="#">Knowledge Base </a>
            <a class="breadcrumb-item" href="#">Make MAF Payment</a>
        </div>
    </nav>

<div class="container pad_btm50">
    <div class="row">
        <div id="Knowledge_base" class="col-md-9 col-sm-8 col-xs-12">
            <h3 class="knowledge_head mar_top10"><b>How to Setup Auto Pay</b></h3>
            <div class="row">
                <div class="col-xs-12"><h4><b>How to</b></h4></div> 
                <div class="col-xs-12 mar_btm10">
                    
                    <div class="row mar_btm10">
                        <div class="col-md-4 col-xs-12">
                            <img src="../../images/maf_44.png" class="width_full" />
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <p>In this screen customer will register the <b>Autopay</b>. If customer <span class="font_red">Click</span> on 
                            <b>“Click Here To Register”</b> button and <b>“Get Started Now”</b> button then customer will be redirected to <b>Step 1 </b> of autopay.</p>
                        </div>
                    </div>
                 
                    <hr/>
                    <div class="row mar_btm10">
                        <div class="col-md-4 col-xs-12">
                            <img src="../../images/maf_45.png" class="width_full"/>
                            </div>
                        <div class="col-md-8 col-xs-12">
                            <p>If customer already done payment and already schedule any payment in current frequency 
                            then this duplicate payment alert will be shown. If customer <span class="font_red">Click</span> on
                                <img src="../../images/continue_bnt.png" /> button then customer will be redirect to step 1 of autopay. If customer <span class="font_red">Click</span> on
                           <img src="../../images/cancel_btn.png" /> button then this autopay will be cancelled.</p>
                        </div>
                        </div>
                    <hr/>
                    
                    <div class="row mar_btm10">
                        <div class="col-xs-12">
                            <h5><b>Step 1. Choose Your Payment Method</b></h5>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <img src="../../images/maf_46.png" class="width_full" />
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <p>In this screen customer will select the payment method by <span class="font_red">Clicking</span> on radio 
                            button of <b>Pay By ACH</b> or <b>Pay By Debit/Credit Card</b>. The <img src="../../images/yescheck.png"> 
                            of <b>“I agree to above terms of use”</b> will compulsory to select by customer after reading this terms and 
                            services. If customer <span class="font_red">Click</span> on 
                            <img src="../../images/continue_bnt.png" /> button the customer will be redirected to <b>Step 2</b> of 
                             autopay. If customer click on cancel button then this autopay will be cancelled.</p>
                        </div>
                    </div>
                    <hr />
                   
                    <div class="row mar_btm10">
                        <div class="col-xs-12">
                            <h5><b>Step 2. AutoPay Authorization</b></h5>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <img src="../../images/maf_47.png" class="width_full" />
                            </div>
                            <div class="col-md-8 col-xs-12">
                                <p>In this screen customer can see the Selected Payment Type (ACH or Debit/Credit Card), payment details like amount due, frequency and billing due date.</p>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5><b>Case 1.</b><span class="font_we500"> If user select ACH Method in Previous Step</span></h5>
                            <p>If the customer select <b>Pay By ACH</b> in Step 1. These are two types. First one is <b>Saved ACH Detail </b>and second one is <b>New ACH Detail.</b></p>
                            <h5><b>Saved ACH Detail</b></h5>
                            <div class="row mar_btm10">
                                <div class="col-md-4 col-xs-12">
                                    <img src="../../images/maf_48.png" class="width_full" />
                                </div>
                                <div class="col-md-8 col-xs-12">
                                    <p>If the customer select the radio button of<b> Saved ACH Detail</b> then all stored <b>ACH</b> details will be shown. Customer can delete any saved <b>ACH</b> details by <span class="font_red">Click</span> on <i class="fa fa-trash fa-lg font_red"></i> icon button. Customer can make payment by selecting the radio button of anyone saved <b>ACH</b> detail. If customer will fill all input fields then customer will go to the next step.</p>
                                </div>
                            </div>

                            <h5><b>New ACH Detail</b></h5>
                            <div class="row mar_btm10">
                                <div class="col-md-4 col-xs-12">
                                    <img src="../../images/maf_49.png" class="width_full" />
                                </div>
                                <div class="col-md-8 col-xs-12">
                                    <p>If the customer select the radio button of <b>New ACH Detail</b>New ACH Detail then all input fields will be shown. In this screen customer can select the account type like checking and saving by selecting the radio button in account type section. If customer will fill all input fields then customer will go to the next step.</p>
                                </div>
                            </div>
                            <h5><b>Case 2.</b><span class="font_we500">  If user select Debit/Credit Card Method in Previous Step</span></h5>
                            <p>If the customer select the radio button of <b>Pay By Debit/Credit Card</b> in select payment method section then Debit/Credit type will be shown. These are two types. First one is <b>Saved Debit and Credit Card</b> and second one is <b>New Debit and Credit Card.</b></p>
                            <h5><b>Saved Debit/Credit Card</b></h5>
                            <div class="row mar_btm10">
                                <div class="col-md-4 col-xs-12">
                                    <img src="../../images/maf_50.png" class="width_full" />
                                </div>
                                <div class="col-md-8 col-xs-12">
                                    <p>
                                        If the customer select the radio button of <b>Saved Debit and Credit Card</b> then all stored <b>Debit/Credit</b> details and billing address will be shown. Customer can delete any saved <b>Debit/Credit</b> details by <span class="font_red">Click</span> on <i class="fa fa-trash fa-lg font_red"></i> icon button. Customer can payment by selecting the radio button of anyone saved <b>Debit/Credit</b> detail. Customer will input the <b>CVV</b> number in the <b>CVV</b> input field. Customer can edit the billing address of the any saved <b>Debit/Credit</b> Card by <span class="font_red">Click</span> on
                                        <img src="../../images/edit_btn.png" /> button in the billing address section.If customer will fill all input fields then customer will go to the next step.
                                    </p>
                                </div>
                            </div>

                            <h5><b>New Debit/Credit Card</b></h5>
                            <div class="row mar_btm10">
                                <div class="col-md-4 col-xs-12">
                                    <img src="../../images/maf_51.png" class="width_full" />
                                </div>
                                <div class="col-md-8 col-xs-12">
                                    <p>If the customer select the radio button of <b>New Debit and Credit Card</b> then all input fields will be shown. In this screen customer can select the card type like <b>Visa</b> and <b>Master</b> by selecting the radio button. If customer will fill all input fields then customer will go to the next step.</p>
                                </div>
                            </div>
                            <div class="row mar_btm10">
                                <div class="col-md-4 col-xs-12">
                                    <img src="../../images/maf_52.png" class="width_full" />
                                </div>
                                <div class="col-md-8 col-xs-12">
                                    <p>
                                        In step 2 all cases customer can see <b>“AutoPay-Recurring Payment Authorization”</b>. It is Compulsory for customer
                                        to check the <img src="../../images/yescheck.png"> of “terms & Condition” & <span class="font_red">Click</span> on
                                        <img src="../../images/continue_bnt.png" /> button the then customer will be redirected to <b>Step 3</b>. And if customer <span class="font_red">Click</span>
                                        <img src="../../images/cancel_btn.png" /> button then autopay will be cancelled. And if customer <span class="font_red">Click</span> on
                                        <img src="../../images/back_btn.png" /> button customer will be redirected to <b>Step 1</b>.
                                    </p>
                                </div>
                                </div>
                                </div>
                            </div>
                            <hr />

                    <div class="row mar_btm10">
                        <div class="col-xs-12">
                            <h5><b>Step 3. Autopay Confirmation</b></h5>
                            <p>In This Step customer can Review his <b>AutoPay Settings</b> & <b>AutoPay Recurring Payment Confirmation</b> according to selcted payment Type (By ACH or By Dedit/ Credit Card).</p>
                            </div>
                           
                                <div class="col-xs-12">
                                    <h5><b>Case 1.</b><span class="font_we500"> When User Select ACH Payment Method</span></h5>

                                    <div class="row mar_btm10">
                                        <div class="col-md-4 col-xs-12">
                                            <img src="../../images/maf_53.png" class="width_full">
                                        </div>
                                        <div class="col-md-8 col-xs-12">
                                            <p>In this screen customer Review his Auto Pay Setting for ACH.</p>
                                        </div>
                                    </div>

                                    <div class="row mar_btm10">
                                        <div class="col-md-4 col-xs-12">
                                            <img src="../../images/maf_54.png" class="width_full">
                                        </div>
                                        <div class="col-md-8 col-xs-12">
                                            <p>In this screen customer can se the payment confirmation details for ACH.</p>
                                        </div>
                                    </div>
                                    <h5><b>Case 2.</b><span class="font_we500">  When User Select Debit/Credit Card Payment Method</span></h5>

                                    <div class="row mar_btm10">
                                        <div class="col-md-4 col-xs-12">
                                            <img src="../../images/maf_55.png" class="width_full">
                                        </div>
                                        <div class="col-md-8 col-xs-12">
                                            <p>In this screen customer Review his Auto Pay Setting for Debit/Credit Card.</p>
                                        </div>
                                    </div>

                                    <div class="row mar_btm10">
                                        <div class="col-md-4 col-xs-12">
                                            <img src="../../images/maf_56.png" class="width_full">
                                        </div>
                                        <div class="col-md-8 col-xs-12">
                                            <p>In this screen customer can se the payment confirmation details for Debit/Credit Card.</p>
                                        </div>
                                    </div>
                                    <p>
                                        If customer <span class="font_red">Click</span> on
                                        <img src="../../images/submit_btn.png" /> button then autopay setup confirmation popup will genrate. If customer <span class="font_red">Click</span> on 
                                        <img src="../../images/ok_btn.png" /> button popup will hide & customer <span class="font_red">Click</span> on
                                        <img src="../../images/finish_bnt.png" /> button and redirect to <b>Setup AutoPay screen</b>. If customer <span class="font_red">Click</span> on
                                        <img src="../../images/cancel_btn.png" /> button then autopay will be canceled. If customer <span class="font_red">Click</span> on
                                        <img src="../../images/back_btn.png" /> button customer will be redirected to step 2.
                                    </p>
                                </div>
                         </div>

                    <hr />
                    <div class="row mar_btm10">
                        <div class="col-xs-12">
                            <h5><b>Setup AutoPay screen</b></h5>
                            <p>Once user Click on finish button, user redirect to setup AutoPay detail screen.</p>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <img src="../../images/maf_57.png" class="width_full" />
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <p>
                                In this screen customer can se details of allready setup autopay. If customer <span class="font_red">Click</span> on 
                                <i class="fa fa-pencil fa-lg" aria-hidden="true"></i> icon then customer will edit the autopay information.
                            </p>
                        </div>
                    </div>

                    <div class="row mar_btm10">
                      
                        <div class="col-md-4 col-xs-12">
                            <img src="../../images/maf_58.png" class="width_full" />
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <p>
                                If customer <span class="font_red">Click</span> on <img src="../../images/opt_out.png"> buton then delete confirmation popup will be shown. if customer <span class="font_red">Click</span> on
                                <img src="../../images/yes_btn.png" /> button then this autopay will be cancelled. If customer <span class="font_red">Click</span> on 
                                <img src="../../images/no_btn.png" /> button then this pop-up will be hiden.
                            </p>
                        </div>
                    </div>


                        </div>
                    </div>
                </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
            <h4 class="text_color font_we300 mar_top0 quick_head">
                Related Help Topic
            </h4>
            <div class="quick_bg">
                <div class="topic_container">
                    <a href="#"><h4><i class="fa fa-sticky-note-o" aria-hidden="true"></i>  How to do MAF Payment</h4></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. . .</p>
                </div>
                <div class="topic_container">
                    <a href="#"><h4><i class="fa fa-sticky-note-o" aria-hidden="true"></i>  How to do MAF Payment</h4></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. . .</p>
                </div>
            </div>
        </div>
    </div>
</div>