
    <nav class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item active" href="#">Knowledge Base </a>
            <a class="breadcrumb-item" href="#">User Profile</a>
        </div>
    </nav>

<div class="container pad_btm50">
    <div class="row">
        <div id="Knowledge_base" class="col-md-9 col-sm-8 col-xs-12">
            <h3 class="knowledge_head mar_top10"><b>How to Update security Question</b></h3>
            <div class="row">
                <div class="col-xs-12"><h4><b>How to</b></h4></div> 
                <div class="col-xs-12 mar_btm10">
                    
                    <div class="row mar_btm10">
                        <div class="col-md-4 col-xs-12">
                            <img src="../../images/maf_26.png" class="width_full"/>
                            </div>
                        <div class="col-md-8 col-xs-12">
                            <p>In this screen customer can update his security question. This security questions will be helpful for in case of customer forget his password at the time of login. Customer can select the security question accordingly by <span class="font_red">Click</span> on dropdown and customer can input the answer according to select his questions. If customer <span class="font_red">Click</span> on 
                                <img src="../../images/save_btn.png" /> button. All security question will be update. If customer <span class="font_red">Click</span> on
                                <img src="../../images/cancel_btn.png" />button. Customer will be redirect on <b>MAF Account Details</b> screen.</p>

                        </div>
                        </div>
                </div>

                    </div>
                </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
            <h4 class="text_color font_we300 mar_top0 quick_head">
                Related Help Topic
            </h4>
            <div class="quick_bg">
                <div class="topic_container">
                    <a href="#"><h4><i class="fa fa-sticky-note-o" aria-hidden="true"></i>  How to do MAF Payment</h4></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. . .</p>
                </div>
                <div class="topic_container">
                    <a href="#"><h4><i class="fa fa-sticky-note-o" aria-hidden="true"></i>  How to do MAF Payment</h4></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. . .</p>
                </div>
            </div>
        </div>
    </div>
</div>