
    <nav class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item active" href="#">Knowledge Base </a>
            <a class="breadcrumb-item" href="#">User Profile</a>
        </div>
    </nav>

<div class="container pad_btm50">
    <div class="row">
        <div id="Knowledge_base" class="col-md-9 col-sm-8 col-xs-12">
            <h3 class="knowledge_head mar_top10"><b>How to Update Insurance Information</b></h3>
            <div class="row">
                <div class="col-xs-12"><h4><b>How to</b></h4></div> 
                <div class="col-xs-12 mar_btm10">
                    
                    <div class="row mar_btm10">
                        <div class="col-md-4 col-xs-12">
                            <img src="../../images/maf_39.png" class="width_full"/>
                            </div>
                        <div class="col-md-8 col-xs-12">
                            <p>In this screen customer can update the <b>Insurance Infomration</b> like 
                            insurance company details, agency/company issuing card details etc. 
                            Customer can <b>upload</b> the important document related to the insurance by 
                                <span class="font_red"> clicking</span> on
                                <img src="../../images/browse_btn.png" /> button. This document format is JPG, JPEG, PNG only.
                                    After fill all insurance information into the input fields. Customer can save all
                                    insurance information by <span class="font_red"> clicking</span>  on 
                                <img src="../../images/submit_btn.png" /> button.
                               </p>

                            

                        </div>
                        </div>
                </div>

                    </div>
                </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
            <h4 class="text_color font_we300 mar_top0 quick_head">
                Related Help Topic
            </h4>
            <div class="quick_bg">
                <div class="topic_container">
                    <a href="#"><h4><i class="fa fa-sticky-note-o" aria-hidden="true"></i>  How to do MAF Payment</h4></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. . .</p>
                </div>
                <div class="topic_container">
                    <a href="#"><h4><i class="fa fa-sticky-note-o" aria-hidden="true"></i>  How to do MAF Payment</h4></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. . .</p>
                </div>
            </div>
        </div>
    </div>
</div>