
    <nav class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item active" href="#">Knowledge Base </a>
            <a class="breadcrumb-item" href="#">Forgot Password</a>
        </div>
    </nav>

<div class="container pad_btm50">
    <div class="row">
        <div id="Knowledge_base" class="col-md-9 col-sm-8 col-xs-12">
            <h3 class="knowledge_head mar_top10"><b>What if You Forgot Password</b></h3>
            <div class="row">
                <div class="col-xs-12"><h4><b>How to</b></h4></div> 
                <div class="col-xs-12 mar_btm10">
                    <p>In case of <b>Forgot Password</b>, user can reset the password from login screen and to do so you have to verify the <b>MAF Account Details</b> and <b>Security Details</b>.</p>
                    
                    <div class="row mar_btm10">
                        <div class="col-md-4 col-xs-12">
                            <img src="../../images/maf_15.png" class="width_full"/>
                            </div>
                        <div class="col-md-8 col-xs-12">
                            <p>To retrieve the password, go to <b>Login</b> page which is the default page, and <span class="font_red">Click</span> on <a href="javascript-void(0)">Forgot Password </a>link as shown in image.</p>
                            <p>Then, you will be redirected to <b>Step 1</b> for account verification.</p>
                        </div>
                        </div>
                            
                    <hr/>

                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="mar_top0"><b>Step 1 : Enter MAF Account Number </b></h5>
                            <div class="row mar_btm10">
                                <div class="col-md-4 col-xs-12">
                                    <img src="../../images/maf_20.png" class="width_full" />
                                </div>
                                <div class="col-md-8 col-xs-12">
                                    <p>In this step, enter your <b>MAF Account Number</b> from the file/account details. Then <b>Verify</b> the account details by <span class="font_red">Clicking</span> on <img src="../../images/continue_bnt.png"> button and if information is verifed successfully then you will be moved to <b>Step 2</b>.</p>
                                </div>
                            </div>
                            <h5><b>Step 2 : Verfiy the security question</b></h5>
                            <h5><b>Case 1.</b><span class="font_we500"> If you know the secuity question.</span></h5>
                            <div class="row mar_btm10">
                                <div class="col-md-4 col-xs-12">
                                    <img src="../../images/maf_21.png" class="width_full" />
                                </div>
                                <div class="col-md-8 col-xs-12">
                                    <p>In this step, you have to verfiy the <b>"Security Question"</b> with <b>"Answer"</b> which is associated with the information from first step and <span class="font_red">Click</span> on <img src="../../images/continue_bnt.png"> button.</p>
                                    <p>Once the entered information will be validated, the password will be changes with temprory password and an email confirmation is send to the customer with login information.</p>
                                </div>
                            </div>

                            <h5><b>Case 2.</b><span class="font_we500"> If you don’t know the security question </span></h5>
                            <div class="row mar_btm10">
                                <div class="col-md-4 col-xs-12">
                                    <img src="../../images/maf_22.png" class="width_full" />
                                </div>
                                <div class="col-md-8 col-xs-12">
                                    <p>If you don’t know the security question then <span class="font_red">Click</span> on <b> “If you don’t have any security question”</b> link and a popup window will apear with the information to contact customer service.</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <p class="font_darkblue"><b>User can return to "MAF Login" page anytime from the forgot password process, and to do so, have to <span class="font_red">Click</span> on Return to "MAF Login" page.</b></p>

 
                </div>

                    </div>
                </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
            <h4 class="text_color font_we300 mar_top0 quick_head">
                Related Help Topic
            </h4>
            <div class="quick_bg">
                <div class="topic_container">
                    <a href="#"><h4><i class="fa fa-sticky-note-o" aria-hidden="true"></i>  How to do MAF Payment</h4></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. . .</p>
                </div>
                <div class="topic_container">
                    <a href="#"><h4><i class="fa fa-sticky-note-o" aria-hidden="true"></i>  How to do MAF Payment</h4></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. . .</p>
                </div>
            </div>
        </div>
    </div>
</div>