
    <nav class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item active" href="#">Knowledge Base </a>
            <a class="breadcrumb-item" href="#">User Profile</a>
        </div>
    </nav>

<div class="container pad_btm50">
    <div class="row">
        <div id="Knowledge_base" class="col-md-9 col-sm-8 col-xs-12">
            <h3 class="knowledge_head mar_top10"><b>How to Manage Card</b></h3>
            <div class="row">
                <div class="col-xs-12"><h4><b>How to</b></h4></div> 
                <div class="col-xs-12 mar_btm10">
                    
                    <div class="row mar_btm10">
                        <div class="col-md-4 col-xs-12">
                            <img src="../../images/maf_37.png" class="width_full"/>
                            </div>
                        <div class="col-md-8 col-xs-12">
                            <p>In this Screen customer can see <b>Saved Card Detail</b> & <b>Saved card Billing Address detail</b>. Customer can delete his saved card or Update saved card billing address.</p>
                            <p>To delete saved card customer can <span class="font_red">Click</span> on <i class="fa fa-trash fa-lg font_red"></i> icon for particular card and if user want edit billing address detail <span class="font_red">Click</span> on 
                                <img src="../../images/edit_btn.png" /> button. After <span class="font_red">Clicking</span> <img src="../../images/edit_btn.png" /> button you can edit your billing address of particular card.</p>
                     </div>
                        </div>

                    <div class="row mar_btm10">
                        <div class="col-md-4 col-xs-12">
                            <img src="../../images/maf_38.png" class="width_full" />
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <p>In billing address details two options are available first one is user profile address and second one is last billing address. These address allready stored into the application. If customer <span class="font_red">Click</span> on 
                                <img src="../../images/submit_btn.png" /> button then billing address will be update of selected saved card.</p>
                           
                        </div>
                    </div>
                </div>

                    </div>
                </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
            <h4 class="text_color font_we300 mar_top0 quick_head">
                Related Help Topic
            </h4>
            <div class="quick_bg">
                <div class="topic_container">
                    <a href="#"><h4><i class="fa fa-sticky-note-o" aria-hidden="true"></i>  How to do MAF Payment</h4></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. . .</p>
                </div>
                <div class="topic_container">
                    <a href="#"><h4><i class="fa fa-sticky-note-o" aria-hidden="true"></i>  How to do MAF Payment</h4></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. . .</p>
                </div>
            </div>
        </div>
    </div>
</div>