
    <nav class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item active" href="#">Knowledge Base </a>
            <a class="breadcrumb-item" href="#">User Profile</a>
        </div>
    </nav>

<div class="container pad_btm50">
    <div class="row">
        <div id="Knowledge_base" class="col-md-9 col-sm-8 col-xs-12">
            <h3 class="knowledge_head mar_top10"><b>How to Edit User Profile Details</b></h3>
            <div class="row">
                <div class="col-xs-12"><h4><b>How to</b></h4></div> 
                <div class="col-xs-12 mar_btm10">
                    
                    <div class="row mar_btm10">
                        <div class="col-md-4 col-xs-12">
                            <img src="../../images/maf_23.png" class="width_full"/>
                            </div>
                        <div class="col-md-8 col-xs-12">
                            <p>In this screen customer can see Three panel first panel for <b>Personal detail</b>, second panel for <b>Account deatil</b> and third panel for <b>Security Question</b>. Customer can edit only his <b>Personal detail</b> to <span class="font_red">Click</span> on <b>Edit</b> button.</p>

                        </div>
                        </div>
                            
                    <hr/>
                    
                    <div class="row mar_btm10">
                        <div class="col-md-4 col-xs-12">
                            <img src="../../images/maf_24.png" class="width_full" />
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <p>
                                If the user <span class="font_red">Click</span> on
                                <img src="../../images/edit_btn.png" /> button. User can edit his <b>Personal Detail</b> (Like Primary Number, Email and Address detail etc). User also update his Profile picture to this section. After editing the Personal detail user can save his detail to click the Save button.
                            </p>
                        </div>
                    </div>
                    
                </div>

                    </div>
                </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
            <h4 class="text_color font_we300 mar_top0 quick_head">
                Related Help Topic
            </h4>
            <div class="quick_bg">
                <div class="topic_container">
                    <a href="#"><h4><i class="fa fa-sticky-note-o" aria-hidden="true"></i>  How to do MAF Payment</h4></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. . .</p>
                </div>
                <div class="topic_container">
                    <a href="#"><h4><i class="fa fa-sticky-note-o" aria-hidden="true"></i>  How to do MAF Payment</h4></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. . .</p>
                </div>
            </div>
        </div>
    </div>
</div>