
    <nav class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item active" href="#">Knowledge Base </a>
            <a class="breadcrumb-item" href="#">Make MAF Payment</a>
        </div>
    </nav>

<div class="container pad_btm50">
    <div class="row">
        <div id="Knowledge_base" class="col-md-9 col-sm-8 col-xs-12">
            <h3 class="knowledge_head mar_top10"><b>How to Set Future Payment</b></h3>
            <div class="row">
                <div class="col-xs-12"><h4><b>How to</b></h4></div> 
                <div class="col-xs-12 mar_btm10">

                    <p>To create Future MAF Payment select, <a href="javascript-void(0)"> Set Future Pay </a> option from left side navigation panel</p>
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="../../images/menu_2.png" />
                            <img src="../../images/arrow_1.png" />
                            <img src="../../images/menu_2_zoom.png" />
                        </div>
                    </div>
                    <hr />
                    <p>After <span class="font_red">Clicking</span> <a href="javascript-void(0)"> Set Future Pay </a>Option you got a pop up window on your screen.</p>
                    <div class="row mar_btm10">
                        <div class="col-md-4 col-xs-12">
                            <img src="../../images/maf_28.png" class="width_full" />
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <p>In this screen duplicate payment alert is displaying. If customer already paid their payment for current frequency then schedule any future pay or recurring autopay in same frequency then duplicate pop up alert will be shown.</p>
                        </div>
                    </div>
                    <p>
                        Please read Popup Instruction carefully & <span class="font_red">Click</span>
                        <img src="../../images/continue_bnt.png" /> button.
                    </p>
                    <hr />
                    <p>After <span class="font_red">Clicking</span> the <img src="../../images/continue_bnt.png" /> button Popup will Disappear & <a href="javascript-void(0)"> Payment Agreement </a> screen will show on your screen</p>
                    <div class="row mar_btm10">
                        <div class="col-md-4 col-xs-12">
                            <img src="../../images/maf_30.png" class="width_full" />
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <p>In this screen customer can see the <b>Payment Agreement</b> and <b>Convenience Fee</b> that will be charged to their account by <b>"CallPass Tech"</b>. Customer will select the checkbox of <b>“I agree to the terms and conditions above”</b> for go to the next step.</p>
                        </div>
                    </div>
                    <p>
                        Please read Payment Agreement carefully & if you Agree With Terms & Condition <span class="font_red">Click</span>
                        <img src="../../images/yescheck.png" /> <b>I agree to the terms and conditions</b>
                        & <span class="font_red">Click</span> <img src="../../images/continue_bnt.png" /> button.
                    </p>
                    <hr />
                    <p>After <span class="font_red">Clicking</span> the <img src="../../images/continue_bnt.png" /> button <a href="javascript-void(0)"> Account Information </a> Screen Will Show.</p>
                    <div class="row mar_btm10">
                        <div class="col-md-4 col-xs-12">
                            <img src="../../images/maf_29.png" class="width_full" />
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <p>In this screen customer can see the account details with last payment details.</p>
                        </div>
                    </div>
                    <p>
                        Please verify your account detail & <span class="font_red">Click</span>
                        <img src="../../images/continue_bnt.png" /> button.
                    </p>
                    <hr />
                    <p>After <span class="font_red">Clicking</span> the <img src="../../images/continue_bnt.png" /> button <a href="javascript-void(0)"> Amount Payment </a> screen will show here you can set your <b>Future Payment</b>.</p>

                    <h4><b>To process the Set Future Payment</b></h4>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5><b>Step 1.</b> Customer will select the future payment date must between current/coming due date to after next coming due date.</h5>
                            <div class="row">
                               
                                <div class="col-xs-12">
                                    <h5><b>Step 2. Select Payment Method (Pay By ACh or Pay By Debit/Credit Card option).</b></h5>
                                    <h5><b>Case 1.</b><span class="font_we500"> Pay By ACh</span></h5>
                                    <p>If the customer select the radio button of <b>Pay By ACH</b> in select payment method section then <b>ACH</b> type will be shown. These are two types. First one is <b>Saved ACH Detail </b>and second one is <b>New ACH Detail.</b></p>
                                    <h5><b>Saved ACH Detail</b></h5>
                                    <div class="row mar_btm10">
                                        <div class="col-md-4 col-xs-12">
                                            <img src="../../images/maf_5.png" class="width_full" />
                                        </div>
                                        <div class="col-md-8 col-xs-12">
                                            <p>If the customer select the radio button of<b> Saved ACH Detail</b> then all stored <b>ACH</b> details will be shown. Customer can delete any saved <b>ACH</b> details by <span class="font_red">Click</span> on <i class="fa fa-trash fa-lg font_red"></i> icon button. Customer can make payment by selecting the radio button of anyone saved <b>ACH</b> detail. If customer will fill all input fields then customer will go to the next step.</p>
                                        </div>
                                    </div>

                                    <h5><b>New ACH Detail</b></h5>
                                    <div class="row mar_btm10">
                                        <div class="col-md-4 col-xs-12">
                                            <img src="../../images/maf_6.png" class="width_full" />
                                        </div>
                                        <div class="col-md-8 col-xs-12">
                                            <p>If the customer select the radio button of <b>New ACH Detail</b>New ACH Detail then all input fields will be shown. In this screen customer can select the account type like checking and saving by selecting the radio button in account type section. If customer will fill all input fields then customer will go to the next step.</p>
                                        </div>
                                    </div>
                                    <h5><b>Case 2.</b><span class="font_we500"> Debit/Credit Card</span></h5>
                                    <p>If the customer select the radio button of <b>Pay By Debit/Credit Card</b> in select payment method section then Debit/Credit type will be shown. These are two types. First one is <b>Saved Debit and Credit Card</b> and second one is <b>New Debit and Credit Card.</b></p>
                                    <h5><b>Saved Debit/Credit Card</b></h5>
                                    <div class="row mar_btm10">
                                        <div class="col-md-4 col-xs-12">
                                            <img src="../../images/maf_7.png" class="width_full" />
                                        </div>
                                        <div class="col-md-8 col-xs-12">
                                            <p>If the customer select the radio button of <b>Saved Debit and Credit Card</b> then all stored <b>Debit/Credit</b> details and billing address will be shown. Customer can delete any saved <b>Debit/Credit</b> details by <span class="font_red">Click</span> on <i class="fa fa-trash fa-lg font_red"></i> icon button. Customer can payment by selecting the radio button of anyone saved <b>Debit/Credit</b> detail. Customer will input the <b>CVV</b> number in the <b>CVV</b> input field. Customer can edit the billing address of the any saved <b>Debit/Credit</b> Card by <span class="font_red">Click</span> on edit button in the billing address section.If customer will fill all input fields then customer will go to the next step.</p>
                                        </div>
                                    </div>

                                    <h5><b>New Debit/Credit Card</b></h5>
                                    <div class="row mar_btm10">
                                        <div class="col-md-4 col-xs-12">
                                            <img src="../../images/maf_8.png" class="width_full" />
                                        </div>
                                        <div class="col-md-8 col-xs-12">
                                            <p>If the customer select the radio button of <b>New Debit and Credit Card</b> then all input fields will be shown. In this screen customer can select the card type like <b>Visa</b> and <b>Master</b> by selecting the radio button. If customer will fill all input fields then customer will go to the next step.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <hr />

                            <p>After <span class="font_red">Clicking</span> the <img src="../../images/next_bnt.png" />  button <a href="javascript-void(0)"> Payment Confirmation </a> Screen Will Show.</p>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h5><b>Case 1.</b><span class="font_we500"> If the customer select</span> <b>ACH payment</b> Option in before screen.</h5>
                                    <div class="row mar_btm10">
                                        <div class="col-md-4 col-xs-12">
                                            <img src="../../images/maf_33.png" class="width_full">
                                        </div>
                                        <div class="col-md-8 col-xs-12">
                                            <p>
                                                In this screen customer can see the
                                                <b> ACH</b> payment confirmation details with terms and conditions. By <span class="font_red">Click</span> on 
                                                <img src="../../images/submit_btn.png" /> button then payment will be done. By <span class="font_red">Click</span> on
                                                <img src="../../images/back_btn.png" /> button then customer can be edit the payment information’s. By <span class="font_red">Click</span> on
                                                <img src="../../images/cancel_btn.png" /> button then payment will be cancel.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row mar_btm10">
                                                <div class="col-md-4 col-xs-12">
                                                    <img src="../../images/maf_31.png" class="width_full">
                                                </div>
                                                <div class="col-md-8 col-xs-12">
                                                    <p>
                                                        In this screen customer can see the <b>Future Pay setup</b> is successfull popup window.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row mar_btm10">
                                                <div class="col-md-4 col-xs-12">
                                                    <img src="../../images/maf_32.png" class="width_full">
                                                </div>
                                                <div class="col-md-8 col-xs-12">
                                                    <p>In this screen customer can see the <b>ACH </b>payment confirmation number. By <span class="font_red">Click</span> on
                                                        <img src="../../images/print_btn.png" /> button then customer can print the payment confirmation slip. By <span class="font_red">Click</span> on 
                                                    <img src="../../images/back_btn.png" /> button then customer can be edit the payment information’s.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h5><b>Case 2.</b><span class="font_we500"> If the customer select</span> <b> Debit/Credit Card payment</b> Option in before screen.</h5>
                                    <div class="row mar_btm10">
                                        <div class="col-md-4 col-xs-12">
                                            <img src="../../images/maf_34.png" class="width_full">
                                        </div>
                                        <div class="col-md-8 col-xs-12">
                                            <p>In this screen customer can see the <b>Debit/Credit </b>payment confirmation details with terms and conditions. By <span class="font_red">Clicking</span> on 
                                                <img src="../../images/submit_btn.png" /> button then payment will be done. By <span class="font_red">Clicking</span> on
                                                <img src="../../images/back_btn.png" /> button then customer can be edit the payment information’s. By <span class="font_red">Clicking</span> on
                                                <img src="../../images/cancel_btn.png" /> button then payment will be cancel.</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row mar_btm10">
                                                <div class="col-md-4 col-xs-12">
                                                    <img src="../../images/maf_35.png" class="width_full">
                                                </div>
                                                <div class="col-md-8 col-xs-12">
                                                    <p>
                                                        In this screen customer can see the <b>Debit/Credit </b> payment confirmation pop-up.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row mar_btm10">
                                                <div class="col-md-4 col-xs-12">
                                                    <img src="../../images/maf_36.png" class="width_full">
                                                </div>
                                                <div class="col-md-8 col-xs-12">
                                                    <p>In this screen customer can see the <b>Debit/Credit</b> payment confirmation number. By <span class="font_red">Clicking</span> on 
                                                        <img src="../../images/print_btn.png" /> button then customer can print the payment confirmation slip.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />

                        </div>

                    </div>
                </div>
                </div>
            </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
            <h4 class="text_color font_we300 mar_top0 quick_head">
                Related Help Topic
            </h4>
            <div class="quick_bg">
                <div class="topic_container">
                    <a href="#"><h4><i class="fa fa-sticky-note-o" aria-hidden="true"></i>  How to do MAF Payment</h4></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. . .</p>
                </div>
                <div class="topic_container">
                    <a href="#"><h4><i class="fa fa-sticky-note-o" aria-hidden="true"></i>  How to do MAF Payment</h4></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. . .</p>
                </div>
            </div>
        </div>
    </div>
</div>